.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.outline-button {
    width: 100px;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .form-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input{
    display: inline;
    justify-content: space-between;
  }

  .h-40px{
    height: 40px;
  }

  .p-title{
    font-size: 20px;
  }