.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.error{
    color: red;
    margin-left: 10px;
}

p{
    margin:0;
    padding: 0;
}