.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  z-index: 1040; /* Ensure it's above other content */
 }